body {
	margin: 0px;
	font-size: 14px;
	width: 100%;
	font-family: arial, sans-serif;
	letter-spacing: 1px;
}

button {
	height: 50px;
	background-color: #991a1f;
	color: #fff;
	padding:0px 30px;
	border: none;
    font-size: 16px;
    margin-top: 20px;
}

header {
    height: 60px;
    background-color: #991a1f;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    color: #fff;
}

input, textarea {
	border: 1px solid #cfcfcf;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	background: none;
}

input {
	height: 40px;
}

textarea {
	min-height: 250px;
}

footer {
	height: 40px;
    background-color: #991a1f;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    line-height: 40px;
    position: fixed;
    bottom: 0px;
    display: none;
}


.content_view {
	padding: 40px;
	/*max-width: 960px;*/
	box-sizing: border-box;
	margin:0px auto;
}

.submission_form {
	/*display: flex;
	flex-direction: row;*/
}

.clear {
	clear: both;
}

.main_view {
	margin-bottom: 40px;
}

.landing_page_mainView {
	text-align: center;
	padding-top: 20px;
}

.drop_area {
	background: #cfcfcf;
    /* flex: auto; */
    margin-right: 20px;
    width: auto;
    overflow: hidden;
    height: 300px;
    position: relative;
}

.form_fields {
    width: 350px;
    margin-bottom: 0px;
    float: right;
    margin-left: 20px;
}

.form_fields > *:last-child{
	margin:0px;
}

.sbmt_photo_btn {
	width: 100%;
}

#file_selection {
	opacity: 0;
}

.file_selection_label {
	height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    text-align: center;
    top:0px;
}

.popup {
	position: absolute;
	z-index: 10;
}

.photo_details_section {
	height: 100px;
	background:#cc6666;
	color: #fff;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
	box-sizing:border-box;
}

.no_details {
	text-align: center;
	line-height: 85px;
	/*color: blue;*/
	/*font-size: 16px;*/
	font-family: sans-serif;
	
}

.no_details a:hover {
	text-decoration: underline;
}

.photos {
	/*height: 300px;*/
	/*width: 300px;*/
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	/*-webkit-transition: height 15s width15s;
    //transition: height 15s width15s;*/
}

.photo_holder {
	height: 300px;
	width: 300px;
	border: 2px solid #cc6666;
	border-bottom: none;
	box-sizing:border-box;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center center
}

.photo_holder_modal {
	height: 500px;
	width: 100%;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.title_description_overlay {
	position: absolute;
    z-index: 14;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #cc6666;
    /*display: none;*/
}

.title {
	font-size: 16px;
}

.description {
	font-size: 12px;
}

.upload_photos_btn {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.delete_photo_option {
	background-color: #cc6666;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	position: absolute;
    right: -13px;
    top: -17px;
	display: none;
}

.photos:hover .delete_photo_option {
	display: block;
}

.rotate45, .rotate135 {
	/*height: 20px;*/
}

.rotate45 {
	border-top: 2px solid #fff;
	transform: rotate(45deg);
	margin-top: 12px;
}

.rotate135 {
	border-top: 2px solid #fff;
	transform: rotate(-45deg);
}

.carousel-indicators {
	display: none !important;
}