<!-- start of header -->
<header class="app_hdr">
	Photo Contest
</header>
<!-- end of header -->
<!-- main view where the content of every state's html will be loaded -->
<div ui-view class="content_view">
	<div class="landing_page_mainView">
		<div>Photo Contest starts from 21/06/2016 and ends on 29/06/2016</div>
		<button class="particpate_btn" ng-click="showUploadForm();">Particpate</button>
	</div>
</div>
<!-- end of main view -->
<!-- start of footer -->
<footer class="app_ftr">
	© 2016 Divami Design Labs 
</footer>
<!-- end of footer -->