<div class="photos" style="float:left; cursor:pointer" ng-repeat="photo in photos" ng-click="open('lg', $index);">
	<!--<img ng-src='{{photo.imgUrl}}' /> -->
	<div class="photo_holder" style="background-image:url('{{photo.imgUrl}}');"></div>
	<div class="photo_details_section">
		<div class="title_description">
			<label class="title">{{photo.title}}</label>
			<p class="description">{{photo.description}}</p>
		</div>
	</div>
	<!--<button ng-click="addDetailsAboutPhoto();">Add Caption and Description</button>
	<div class="title">Add a title</div>
	<div class="description">Please Add description for the photo</div>-->
</div>