<!-- uploading photos form -->
<!--<div class="submission_form" ng-repeat="photo in photos track by $index">
	<form class="form_fields">
		<input placeholder="Please give a tilte for the photo." class="title_fld" type="text" ng-model="photo.title"/>
		<textarea placeholder="Enter the description for the photo." class="desc_area" ng-model="photo.description"></textarea> 
	</form>
	<div class="drop_area">
		<input type="file" id="file_selection" data-index="{{$index}}" accept="image/*" onChange="angular.element(this).scope().onInputChange(this);" ng-model="photo.file"/>
		<label class="file_selection_label" for="file_selection">Please select a file or drop a files to upload</label>
		<img ng-src="{{imgUrl}}" style="position:absolute; top:0px;"/>
	</div>
</div>
<button class="sbmt_photo_btn" ng-click="addAnotherFile()">Add Another Photo</button>
<button class="sbmt_photo_btn" ng-click="onSubmission()">Submit a Photo</button> -->
<!-- end of uploading photos form -->


<!--<div class="dropArea">
	<div class="drop_msg"> 
		Please drag and drop the photos that you want to upload <br/> OR <br/>
		<button class="sbmt_photo_btn">Please select the photos</button>
	</div>
	<div class="selected_photos_list">
		<div ng-repeat="slctdPhotos in slctdPhotos">
			<div class="desc_fld"></div>
			<div ng-style="background-image: url(slctdPhotos.url);"></div>
			<div class="title"></div>
		</div>
	</div>
</div>-->

<div class="addPhotosArea" style="width:100%;">
	<div style="text-align:center;margin-bottom:20px;cursor:pointer" ng-show="photos.length"  ng-click="selectPhotosFromLocal();">
		<svg style="vertical-align:middle; margin-right:5px;"  width="24px" height="24px" class="JUQOtc" viewBox="0 0 24 24"><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"></path></svg>
		<label style="vertical-align:middle;font-size:16px;font-family:sans-serif;cursor:pointer">Upload more photos</label>
	</div>
	<div style="position:relative;width:100%">
		<!-- hidden input field element -->
		<div class="hidden_input_field" style="position:absolute; visibility:hidden; top:-1000px; left:-1000px; z-index:14">
			<input type="file" id="file_upload_field" onChange="angular.element(this).scope().onInputChange(this);" accept="image/*" multiple/>
		</div>
		<!-- drop area for the photos -->
		<div class="photos_drop_area" style="position:absolute;z-index:10;width:100%;text-align:center" >
			<div ng-hide="photos.length">
				Please drag and drop your files for submission <br/> or <br/>
				<button ng-click="selectPhotosFromLocal();">Select Photos</button>
			</div>
		</div>
		<!-- place where selected photos will be shown -->
		<div class="selected_photos" style="position:absolute; z-index:11;width:100%" ng-if="photos.length">
			<div class="photos" style="float:left; cursor:pointer" ng-repeat="photo in photos">
				<div class="title_description_overlay" ng-show="photo.showTitleOverlay">
					<input type="text" ng-model="photo.title" placeholder="Please enter the title for the photo"/>
					<textarea ng-model="photo.description" placeholder="Please enter the description of the photo"></textarea>
					<button ng-click="hideOverlay($index)">Ok</button>
					<button ng-click="hideOverlay($index)">Cancel</button>
				</div>
				<div class="photo_holder" style="background-image:url('{{photo.imgUrl}}');background-size:cover;"></div>
				<div class="photo_details_section">
					<div class="no_details" ng-if="photo.title == ''">
						<a style="cursor:pointer" ng-click="showTitleOverlay($index);">Please add title and description</a>
					</div>
					<div class="title_description" ng-if="photo.title != '' && photo.description != '' ">
						<label class="title">{{photo.title}}</label>
						<p class="description">{{photo.description}}</p>
					</div>
				</div>
				<!--<button ng-click="addDetailsAboutPhoto();">Add Caption and Description</button>
				<div class="title">Add a title</div>
				<div class="description">Please Add description for the photo</div>-->
			</div>
		</div>
		<!-- start of the upload photos button -->
		<button class="upload_photos_btn" ng-if="photos.length" ng-click="uploadPhotosToServer();">Upload Photos</button>
		<!-- end of the upload photos button -->
	</div>
</div>