<!-- uploading photos form -->
<div class="submission_form">
	<form class="form_fields">
		<input placeholder="Please give a tilte for the photo." class="title_fld" type="text" />
		<textarea placeholder="Enter the description for the photo." class="desc_area"></textarea> 
	</form>
	<div class="drop_area">
		<input type="file" id="file_selection" accept="image/*" onChange="angular.element(this).scope().onInputChange(this);"/>
		<label class="file_selection_label" for="file_selection">Please select a file or drop a files to upload</label>
		<img ng-src="{{imgUrl}}" style="position:absolute; top:0px;"/>
	</div>
</div>
<button class="sbmt_photo_btn" ng-click="onSubmission()">Submit a Photo</button>
<!-- end of uploading photos form -->
